.svg-iconmonstr-facebook-1 {
	background: url("../images/icons-052fd915.svg") 0 0 no-repeat;
}

.svg-iconmonstr-facebook-1-dims {
	width: 24px;
	height: 24px;
}

.svg-iconmonstr-google-plus-1 {
	background: url("../images/icons-052fd915.svg") 33.333333333333336% 33.333333333333336% no-repeat;
}

.svg-iconmonstr-google-plus-1-dims {
	width: 24px;
	height: 24px;
}

.svg-iconmonstr-linkedin-1 {
	background: url("../images/icons-052fd915.svg") 66.66666666666667% 66.66666666666667% no-repeat;
}

.svg-iconmonstr-linkedin-1-dims {
	width: 24px;
	height: 24px;
}

.svg-iconmonstr-twitter-1 {
	background: url("../images/icons-052fd915.svg") 100% 100% no-repeat;
}

.svg-iconmonstr-twitter-1-dims {
	width: 24px;
	height: 24px;
}

